body {
    background-color: gray
}

h1 {
    color: red
}

p {
    border: 2px solid powderblue
}

ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    max-width: 120rem;
}

ol li {
    background-color: #ffb86b;
    color: #071326;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 8px;
    margin: 8px;
}

@media (min-width: 80rem) { /* 4×6 */ 
  ol {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 120rem) { /* 6×4 */ 
  ol {
    grid-template-columns: repeat(6, 1fr);
  } 
}